.news-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.alarm-news {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.news-info {
	display: flex;
	flex-direction: row;
	gap: 50px;
	width: 100%;
	height: 100%;
	max-width: 669px;
	min-width: 288px;
	justify-content: center
}

.news-text {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 100%;
	padding: 0 20px;
}

@media screen and (max-width : 768px) {
	.news-container {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 20px;
	}

	.alarm-news {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	.news-info {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}

	.news-text {
		display: flex;
		flex-direction: column;
		gap: 16px;
		width: 100%;
	}

	.news-tanaka-sen img {
		width: 50%;
		height: 40%;
	}
}