.todo-box {
	max-width: 1360px;
	min-width: 350px;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	scroll-snap-align: start;
	padding: 0 20px 0 20px;
}

.todo-banners-wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	/* 2 колонки по умолчанию */
	gap: 20px;
}

/* Стили для мобильной версии */
@media screen and (max-width: 768px) {
	.todo-banners-wrapper {
		grid-auto-flow: column;
		/* Элементы в строку */
		overflow-x: auto;
		grid-template-columns: none;
		/* Отменяем грид-колонки */
	}

	/* Отступы для TitlePlaceholder только в мобильной версии */
	.todo-box .title-placeholder {
		grid-auto-flow: column;
		/* Элементы в строку */
		overflow-x: auto;
		grid-template-columns: none;
		/* Отменяем грид-колонки */
	}
}