.quizContainer {
	max-width: 600px;
	min-width: 325px;
	margin: 0 auto;
	padding: 40px;
	background: white;
	border-radius: 10px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.progress {
	font-size: 24px;
	color: var(--gray-color);
	margin-bottom: 20px;
}

.questionText {
	font-size: 24px;
	margin: 20px 0 20px 0;
	color: var(--black-color);
}

.optionsContainer {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 20px;
}

.option {
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.2s;
}

.option:hover {
	background-color: #f5f5f5;
}

.option.selected {
	background-color: var(--red-color);
	border-color: var(--red-color);
	color: var(--white-color);
}

.navigationButtons {
	display: flex;
	justify-content: space-between;
}

.prevButton,
.nextButton {
	min-height: 44px;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.2s;
}

.prevButton {
	background-color: #f5f5f5;
	color: #333;
}

.nextButton {
	background-color: var(--red-color);
	color: white;
}

.nextButton:disabled {
	background-color: #cccccc;
	cursor: not-allowed;
}

.resultContainer {
	max-width: 600px;
	min-width: 325px;
	margin: 0 auto;
	padding: 20px;
	background: white;
	border-radius: 10px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	text-align: center;
}

.resultTitle {
	font-size: 24px;
	margin-bottom: 20px;
	color: var(--black-color);
}

.resultName {
	font-size: 28px;
	color: var(--red-color);
	margin-bottom: 20px;
}

.resultImage img {
	max-width: 100%;
	border-radius: 5px;
	margin-bottom: 20px;
}

.resultDescription {
	font-size: 16px;
	line-height: 1.6;
	color: var(--black-color);
	margin-bottom: 30px;
}

.resultButtons {
	display: flex;
	justify-content: center;
	gap: 15px;
}

.restartButton,
.allTestsButton {
	min-height: 44px;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.2s;
	align-content: center;

}

.restartButton {
	background-color: var(--light-gray-color);
	color: var(--black-color);
}

.allTestsButton {
	background-color: var(--red-color);
	color: var(--white-color);
}