.button {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 44px;
	padding: 16px 20px;
	border-radius: 5px;
	border-color: transparent;
	cursor: pointer;

	transition-property: background-color, color, transform, box-shadow, border-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

/* Темы кнопок */
.button-white {
	background-color: var(--white-color);
	color: var(--red-color);
}

.button-white:hover {
	background-color: var(--red-color);
	color: var(--white-color);
	border: 2px solid var(--white-color);
}

.button-red {
	background-color: var(--red-color);
	color: var(--white-color);
}

.button-red:hover {
	background-color: var(--white-color);
	color: var(--red-color);
}

.button-white-outline {
	background-color: transparent;
	color: var(--white-color);
	border: 2px solid var(--white-color);
}

.button-white-outline:hover {
	background-color: var(--white-color);
	color: var(--red-color);
	border: 2px solid var(--white-color);
}

.button-red-outline {
	background-color: transparent;
	color: var(--red-color);
	border: 2px solid var(--red-color);
}

.button-red-outline:hover {
	background-color: var(--red-color);
	color: var(--white-color);
}